@model Hastane.ViewModels.RandevuViewModel

@{
    ViewData["Title"] = "RandevuAl";
}

<br>
<br>
<h2>Randevu Al</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RandevuAl">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="HastaEmail" class="form-label"></label>
                <input asp-for="HastaEmail" class="form-control" />
                <span asp-validation-for="HastaEmail" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RandevuTarih" class="form-label"></label>
                <input asp-for="RandevuTarih" class="form-control" />
                <span asp-validation-for="RandevuTarih" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DoctorId" class="form-label"></label>
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index")'">Listeye Dön</button>
            </div>
        </form>
    </div>
</div>