@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<br>
<br>
<h1>@ViewData["Title"]</h1>

<p>Hoş geldiniz! Bu sayfa, Hastane Randevu Sistemi tarafından sunulan hizmetlerin gizlilik politikasını açıklamaktadır.</p>

<h2>Toplanan Bilgiler</h2>
<p>Hastane Randevu Sistemi, kullanıcıların sitemizi ziyaret ettiğinde sağladıkları kişisel bilgileri toplayabilir. Bu bilgiler, adınız, e-posta adresiniz, telefon numaranız gibi tanımlayıcı bilgileri içerebilir.</p>

<h2>Kullanılan Bilgiler</h2>
<p>Toplanan bilgiler, aşağıdaki amaçlar için kullanılabilir:</p>
<ul>
    <li>Hesaplar oluşturmak ve yönetmek</li>
    <li>Size hizmetlerimizi sunmak</li>
    <li>Ürünlerimizi veya hizmetlerimizi geliştirmek</li>
    <li>Sizden gelen taleplere cevap vermek</li>
</ul>

<h2>Üçüncü Taraf Paylaşımı</h2>
<p>Hastane Randevu Sistemi, kullanıcı bilgilerini kesinlikle üçüncü taraflarla paylaşmaz veya satmaz. Ancak, yasal bir talep durumunda yetkili makamlara bilgi sağlanabilir.</p>

<h2>Çerezler</h2>
<p>Bu web sitesi, kullanıcı deneyimini geliştirmek için çerezleri kullanabilir. Çerezler, kullanıcının tarayıcısına depolanan küçük metin dosyalarıdır.</p>

<h2>Güvenlik</h2>
<p>Hastane Randevu Sistemi, kullanıcı bilgilerinin güvenliğini ciddiye alır ve uygun güvenlik önlemlerini uygular. Ancak, internet üzerinden iletişim veya veri depolamanın tam güvenliği garantisi verilemez.</p>

<h2>Değişiklikler</h2>
<p>Bu gizlilik politikası, Hastane Randevu Sistemi tarafından uygun görüldüğünde güncellenebilir. Güncellemeleri takip etmek sizin sorumluluğunuzdadır.</p>

<p>Bu gizlilik politikası hakkında herhangi bir sorunuz veya endişeniz varsa, lütfen [e-posta adresiniz] adresinden bize ulaşın.</p>

<p>Son güncelleme: 30.12.2023</p>