@model Hastane.ViewModels.ClinicViewModel

@{
    ViewData["Title"] = "Create";
}

<br>
<br>
<h2>Yeni Ekle</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Number" class="form-label"></label>
                <input asp-for="Number" class="form-control" required />
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Number)
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" required />
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="DepartmentInfo" class="form-label"></label>
                <input asp-for="DepartmentInfo" class="form-control" required />
                <div class="invalid-feedback">
                    @Html.ValidationMessageFor(model => model.DepartmentInfo)
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary me-3">Ekle</button>
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index")'">Listeye Dön</button>
            </div>

        </form>
    </div>
</div>